$first-color: #50514f;
$second-color: #f25f5c;
$third-color: #ffe066;
$fourth-color: #247ba0;
$fifth-color: #70c1b3;
$sixth-color: #011627;
$seventh-color: #fdfffc;

$font: Arial,
Helvetica,
sans-serif;

$font-base-size: 10px;
$radius: 20px;
